name: Release Workflow

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            release_path: packages/app/release/kyte-windows-*.exe
          - os: macos-latest
            release_path: packages/app/release/kyte-mac-*.dmg
          - os: ubuntu-latest
            release_path: packages/app/release/kyte-ubuntu-*.AppImage

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Set version from git tag
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          npm version $VERSION --no-git-tag-version --workspace=packages/core --workspace=packages/app
          npm version $VERSION --no-git-tag-version

      - name: Build App
        run: pnpm package

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.release_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Notify Website Repo
        run: |
          curl -X POST https://api.github.com/repos/MickaelRiss/kyte_website/dispatches \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.DISPATCH_TOKEN }}" \
          -d '{"event_type": "new_release", "client_payload": { "version": "${{ github.ref_name }}" }}'
